

<%= render ("/templates/navbar") %>
<div class="row">
  <%= render ("/templates/ads") %>
  <div class="main">
    <p id="notice"><%= notice %></p>

    <%= form_with scope: :ask, url: ask_path, local: true do |f| %>
    <%= f.label t('learning_language'), class: "title" %><br />
    <%= f.select :learning_language, @learningLanguage.collect { |learningLanguage| [learningLanguage.language.idiom, learningLanguage.language.idiom] } %>
    <%= f.label t('answer_language'), class: "title"%><br />
    <%= f.select :mother_language, @motherLanguage.collect { |motherLanguage| [motherLanguage.language.idiom, motherLanguage.language.idiom] } %>
    <%= f.label t('title'), class: "title" %><br />
    <%= f.text_field :title %>
    <%= f.label t('question'), class: "title" %><br />
    <%= f.text_area :text, class: "forms-text",  id: "question" %>
    <%= f.label t('difficulty'), class: "title" %><br />
    <select name="ask[difficulty]" id="difficulty">
      <option value="1"><%= t 'beginner' %></option>
      <option value="2"><%= t 'intermediate' %></option>
      <option value="3"><%= t 'advanced' %></option>
    </select>

    <%= f.submit t("ask") %>
    <% end %>

  </div>
  <%= render ("/templates/notifications") %>
</div>
