<%= render ("/templates/navbar") %>

<div class="row">
  <%= render ("/templates/ads") %>

  <div class="main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h2 class="title">Showing questions of
      <% @mother = MotherLanguage.where(:user => current_user.id) %>
      <% @countdown = @mother.count %>
      <% @mother.each do |post2| %>
        <%= post2.language.idiom %>
        <% if @countdown != 1 %>
          ,
          <% @countdown -= 1 %>
        <% end %>
      <% end %>
    </h2>
    <hr class="PostBarLink">
    <% @contagem = 0 %>
    <% @posts.each do |post| %>
      <% @contagem += 1 %>
      <div class="PostBoxLink">
        <div class="PostLanguage">Question of <b><%= post.learning_language %></b> -
          <% if post.difficulty == 1 %>
            begin
          <% elsif post.difficulty == 2 %>
            intermediate
          <% else %>
            advanced
          <% end %>
          <br>Asnwer in <b><%= post.mother_language %></b></div>
        <a href="/posts/<%= post.id %>" class="PostLink">"<%= post.title %>"</a><br>
        <div class="PostDescription">Posted by
          <%= link_to post.user.login, user_path(id: post.user.id), class: "PostDescriptionLink" %>
           in <%= post.created_at.strftime("%m/%d/%Y") %>
        </div>
        <div class="PostDetails"><% commCount = AuthorCommentPost.where(:post => post).count %>
          <%= commCount %>
          <% if commCount <= 1 %>
            Comment,
          <% else %>
            Comments,
          <% end %>
          &nbsp;&nbsp;&nbsp;<%= post.upvotes %> Upvoted
        </div>
      </div>
      <hr class="PostBarLink">
    <% end %>
    <% if @contagem == 0 %>
      <h2 class="title">Nothing found!<br><br>:(<br><br>Come again soon...</h2>
    <% end %>
  </div>

  <%= render ("/templates/notifications") %>
</div>
