<% content_for :header do -%>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag '/css/header' %>
	<%= stylesheet_link_tag '/css/content' %>
	<%= stylesheet_link_tag '/css/navbar' %>
	<%= stylesheet_link_tag '/css/posts' %>
	<%= stylesheet_link_tag '/css/notifications' %>
	<%= stylesheet_link_tag '/css/footer' %>
<% end -%>

<!-- Note -->

<!-- Header -->
<div class="header">
	lingui.me
</div>
