<%= render ("/templates/navbar") %>

<div class="row">
  <%= render ("/templates/ads") %>

  <div class="main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h2 class="title"><%= t 'your_notifications' %>:</h2>
    <hr class="PostBarLink">
    <% @i = 0 %>
    <% @acp.each do |acp| %>
      <% @i += 1 %>
        <div class="PostBoxLink">
          <div class="PostLanguage"><%= acp.created_at.strftime(t('date')) %></div>
          <div class="PostDescription">
            <%= link_to acp.user.username, user_path(id: acp.user.id), class: "PostDescriptionLink" %>
            <%= t 'responded' %> <%= link_to t("a_bookmarked_question"), post_path(id: acp.post_id), class: "notificationsLink" %>:<br>
          </div>
          <%= acp.comment.text %>
        </div>
        <hr class="PostBarLink">
    <% end %>
    <% if @i == 0 %>
      <h2 class="title"><%= t 'NothingFound' %></h2>
    <% end %>

  </div>
  <div class="ads"></div>
</div>
