<%= render ("/templates/navbar") %>

<div class="row">
  <%= render ("/templates/ads") %>
  <div class="main">
    <div class='forms'>
      <% @count = 0 %>
      <%=form_with url: options_path do |f| %>
        <%= f.label :learning_languages, class: "title" %><br />
        <br>
        <% @count = 0 %>
        <% @available_languages.each do |x| %>

          <label class="container-check-box"><%=x.idiom%>
            <%= f.check_box "learn#{@count}".to_sym, {checked: @learning_languages.include?(x), checked_value:x.id, unchecked_value: nil}  %>
            <% @count = @count+1 %>


            <span class="checkmark"></span>
          </label>
        <% end %>
        <hr class="notificationshr1">
        <%= f.label :teaching_languages, class: "title" %><br />
        <br>
        <% @count = 0 %>
        <% @available_languages.each do |x| %>
          <label class="container-check-box"><%=x.idiom%>
            <%= f.check_box "teach#{@count}".to_sym, {checked: @mother_languages.include?(x), checked_value:x.id, unchecked_value: nil}  %>
            <% @count = @count+1 %>
            <span class="checkmark"></span>
          </label>
        <% end %>
        <%= f.submit "Update" %>
      <% end %>
    </div>
		<!-- <%= @user.methods %> -->
    <p id="notice"><%= notice %></p>
    <hr class="PostBarLink">
  </div>

  <%= render ("/templates/notifications") %>
</div>
