<%= render ("/templates/navbar") %>

<div class="row">
  <%= render ("/templates/ads") %>

  <div class="main">
    <div class='forms'>
      <form action="####">
        <label for="title" class="forms-text">Learning languages<br></label>
        <br>
        <% @available_languages.each do |x| %>
          <label class="container-check-box"><%=x.idiom%>
            <input type="checkbox" value="spanish">
            <span class="checkmark"></span>
          </label>
        <% end %>
        <hr class="notificationshr1">
        <label for="title" class="forms-text">Teaching languages<br></label>
        <br>
        <% @available_languages.each do |x| %>
          <label class="container-check-box"><%=x.idiom%>
            <input type="checkbox" value="spanish">
            <span class="checkmark"></span>
          </label>
        <% end %>
        <input type="submit" value="Submit">
      </form>
    </div>
		<!-- <%= @user.methods %> -->
    <p id="notice"><%= notice %></p>
    <hr class="PostBarLink">
  </div>

  <%= render ("/templates/notifications") %>
</div>
