<% if !user_signed_in? %>
  <div class="navbar">
    <%= link_to t('login'), new_user_session_path, class: "btn-navbar" %>
    <%= link_to t('sign_up'), new_user_registration_path, class: "btn-navbar" %>
  </div>
<% else %>
  <%= render ("/templates/navbar") %>
<% end %>
<h1 class="forms-h2" align="center"><br><br>
  <%= t('welcome') %><br>
</h1>
<h2 class="forms-h2" align="center">
  <%= t('welcome_description') %>
<br><br></h2>

<h3 class="forms-h2" align="center">
  <%= t('welcome_do') %><br><br>
  <% if !user_signed_in? %>
    <%= link_to t("login"), new_user_session_path%> &nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to t("sign_up"), new_user_registration_path%>
  <% else %>
    <%= link_to t("learn"), learn_path(dif: 1) %> &nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to t("teach"), teach_path()%><br><br>
    <br><br>
    <div class="welcome_1">
      <%= raw t 'platform_description' %>
      <br>
      <%= raw t 'fundamentals_title' %>
      <%= raw t 'fundamentals_text' %>
    </div>
    <div class="welcome_2">
      <br>
      <%= raw t 'how_to_title' %>
      <%= raw t 'how_to_text' %>
    </div>
    <div class="welcome_1">
      <br>
      <%= raw t 'additionals_title' %>
      <%= raw t 'additionals_text' %>
    </div>
  <% end %>
</h2>
