<% if !user_signed_in? %>
  <div class="navbar">
    <a href="users/sign_in" class="btn-navbar">Log in</a>
    <a href="users/sign_up" class="btn-navbar">Sign up</a>
  </div>
<% else %>
  <%= render ("/templates/navbar") %>
<% end %>
<h1 class="forms-h2" align="center"><br><br>
  <%= t('welcome') %><br>
</h1>
<h2 class="forms-h2" align="center">
  <%= t('welcome_description') %>
<br><br></h2>

<h3 class="forms-h2" align="center">
  <%= t('welcome_do') %><br><br>
  <% if !user_signed_in? %>
    <%= link_to t("login"), teach_path()%> &nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to t("sign_up"), teach_path()%>
  <% else %>
    <%= link_to t("learn"), learn_path(dif: 1) %> &nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to t("teach"), teach_path()%>
  <% end %>
<br><br></h2>
