<p id="notice"><%= notice %></p>

<h1>Mother Languages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mother_languages.each do |mother_language| %>
      <tr>
        <td><%= mother_language.user %></td>
        <td><%= mother_language.language %></td>
        <td><%= link_to 'Show', mother_language %></td>
        <td><%= link_to 'Edit', edit_mother_language_path(mother_language) %></td>
        <td><%= link_to 'Destroy', mother_language, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mother Language', new_mother_language_path %>
