<%= stylesheet_link_tag '/css/forms' %>
<div class="navbar">
  <%= link_to t('login'), new_session_path(resource_name), class: "btn-navbar" %>
  <%= link_to t('sign_up'), new_registration_path(resource_name), class: "btn-navbar" %>
</div>
<div class="row">
  <%= render ("/templates/ads") %>

    <div class="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class='forms'>
      <h2 class="forms-h2"><%= t('login') %></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="forms-text">
          <%= f.label t('login') %><br />
          <%= f.text_field :login, autofocus: true, autocomplete: "username" %>
        </div>

        <div class="forms-text">
          <%= f.label t('password') %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="forms-text">
            <%= f.check_box :remember_me %>
            <%= f.label t('remember_me') %>
          </div>
        <% end -%>

        <%= f.submit t('login') %>
      <% end %>

      <h2 class="forms-h2"><%= link_to t('forgot'), new_password_path(resource_name) %></h2>

    </div>
  </div>

  <div class="notif">
  </div>
</div>
