<%= render ("/templates/navbar") %>

<div class="row">
  <%= render ("/templates/ads") %>

  <div class="main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h2 class="title">Showing questions of
      <% @learning = LearningLanguage.where(:user => current_user.id) %>
      <% @countdown = @learning.count %>
      <% @learning.each do |x| %>
        <%= x.language.idiom %>
        <% if @countdown != 1 %>
          ,
          <% @countdown -= 1 %>
        <% end %>
      <% end %>
    </h2>
    <hr class="PostBarLink">
    <% @i = 0 %>
    <% @posts.each do |post| %>
      <% if AuthorCommentPost.where(:post => post).count > 0 %>
      <% @i += 1 %>
        <div class="PostBoxLink">
          <div class="PostLanguage">Question of <b><%= post.learning_language %></b> -
            <% if post.difficulty == 1 %>
              beginner
            <% elsif post.difficulty == 2 %>
              intermediate
            <% else %>
              advanced
            <% end %>
          <br>Answer in <b><%= post.mother_language %></b></div>
          <a href="/posts/<%= post.id %>" class="PostLink">"<%= post.title %>"</a><br>
          <div class="PostDescription">Posted by
            <%= link_to post.user.login, user_path(id: post.user.id), class: "PostDescriptionLink" %>
             in <%= post.created_at.strftime("%m/%d/%Y") %>
          </div>
          <div class="PostDetails"><%= AuthorCommentPost.where(:post => post).count %> Comments&nbsp;&nbsp;&nbsp;<%= post.upvotes %> Upvote</div>
        </div>
        <hr class="PostBarLink">
      <% end %>
    <% end %>
    <% if @i == 0 %>
      <h2 class="title">Nothing found!<br><br>:(<br><br>Come again soon...</h2>
    <% end %>
  </div>

  <%= render ("/templates/notifications") %>
</div>
