
<%= render ("/templates/navbar") %>
<div class="row">
  <%= render ("/templates/ads") %>
  <div class="main">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <a href="#" class="title">"<%= @post.title %>"</a><br>
    <div class="PostLanguage"><%= t('Question_of') %> <b><%= @post.learning_language %></b> -
      <% if @post.difficulty == 1 %>
        <%= t("beginner") %>
      <% elsif @post.difficulty == 2 %>
        <%= t("intermediate") %>
      <% else %>
        <%= t("advanced") %>
      <% end %>
    <br><%= t('Answer_in') %> <b><%= @post.mother_language %></b>
    </div>
    <div class="PostDescription"><%= t('Asked_by') %>
      <%= link_to @post.user.login, user_path(id: @post.user.id), class: "PostDescriptionLink" %>
       <%= t('in') %> <%= @post.created_at.strftime("%m/%d/%Y") %>
      <h3 align="left">
        <% if @bookmarked %>
          <%= link_to t('bookmarked'), bookmarks_path(post_id: @post.id), class: "PostDescriptionLink" %>
        <% else %>
          <%= link_to t('bookmark'), bookmarks_path(post_id: @post.id), class: "PostDescriptionLink" %>
        <% end %>
      </h3>
    </div>
    <div class="questionsBox">
      <%= @post.text %>
    </div>
    <% @acp.each do |acp| %>
      <div class="commentBox">
        <%= link_to acp.user.username, user_path(id: acp.user.id), class: "PostDescriptionLink" %> <%= t('at') %> <%= acp.created_at.strftime("%m/%d/%Y") %><br>
        <h3>
          <%= acp.comment.text %>
        </h3>
        <% if acp.comment.upvoted%>
          <%= link_to t('upvoted'), change_upvote_comment_path(id: acp.comment.id), class: "UpvoteLinkTrue" %>
        <% else %>
          <%= link_to t('upvote'), change_upvote_comment_path(id: acp.comment.id), class: "UpvoteLinkFalse" %>
        <% end %>
        <% if acp.user.id == current_user.id %>
          <%= link_to t('Delete'), {:controller => "comments", action: :destroy,
            comment_id: acp.comment_id, post_id: acp.post_id }, method: :delete,
            data: { confirm:  t('Are_you_sure') }, class: "PostDeleteLink" %>

        <% end %>
      </div>
    <%end%>
    <%= form_with url: comments_path do |form|%>
      <div class="commentBox">
        <%= form.hidden_field :post_id, value: @post.id %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.text_area :text, id: "question"%>
        <%= form.submit t('Comment') %>
      </div>
    <% end %>

</div>
<%= render ("/templates/notifications") %>
</div>
<!-- <%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> -->
